
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Form {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.App-link {
  color: #61dafb;
}

.actions button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #61dafb;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.actions button:hover{
  opacity: 0.7;
}


.Interation {
  border: 1px solid #aaa;
  border-radius: 11px;
  margin: 7%;
  padding: 1%;
}

.Bulls {
  border: 1px solid #aaa;
  display: flex;
  justify-content: space-around;
}

.FirstBull {
  border: 1px solid red;
  width: 35%;
}

.SecondBull {
  border: 1px solid blue;
  width: 35%;
}

