@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
  --off-white: #fafafa;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: rgb(49, 47, 47);
  cursor: pointer;
}

.section {
  display: flex;
  min-height: 100vh;  
  justify-content: center;
  align-items: center;
}

.section-content {
  margin-right: 800px;  
  display: flex;
  flex-direction: column;
  margin-top: -100px;
}

.title {
  color: rgb(31, 127, 255);  
  font-size: 70px;
}

.subtitle {
  font-size: 25px;
}

.actions button {
  padding: 20px;
  border-radius: 5px;
  border: 0;
  background:  rgb(31, 127, 255);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.actions button:hover{
  opacity: 0.7;
}

.number {
  color: rgb(31, 127, 255);  
}

.question {
  font-size: 20px;
  margin-bottom: 30px;
}

#section1, #section2, #section3 {
  margin: 100px;
}

